@model IEnumerable<MyFirstMVC.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._emailCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._dataCreateCompany)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._emailCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._dataCreateCompany)
            </td>
          </tr>
    }
    </tbody>

</table>