@model IEnumerable<MyFirstMVC.Models.Comment>


@{
    ViewData["Title"] = "Index";
}

<h2>Комментарии</h2>

<p>
    <a asp-action="Create">Create Comment</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._comments)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PhoneId)
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item._comments)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhoneId)
            </td>

        </tr>
    }
    </tbody>

</table>